<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdtu.webproject.mybatis.mapper.EmployeeSupportMapper">
    <resultMap id="BaseResultMap" type="com.tdtu.webproject.mybatis.result.EmployeeResult">
        <id column="ID" jdbcType="NUMERIC" property="employeeId"/>
        <result column="EMPLOYEECODE" jdbcType="VARCHAR" property="employeeCode"/>
        <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstName"/>
        <result column="FULLNAME" jdbcType="VARCHAR" property="fullName"/>
        <result column="COMMONNAME" jdbcType="VARCHAR" property="commonName"/>
        <result column="GENDER" jdbcType="CHAR" property="gender" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="IMAGES" jdbcType="VARCHAR" property="images"/>
        <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="PLACEOFBIRTH" jdbcType="VARCHAR" property="placeOfBirth"/>
        <result column="MARRIED" jdbcType="CHAR" property="married" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="ADDRESSTMP" jdbcType="VARCHAR" property="addressTmp"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="CCCD" jdbcType="VARCHAR" property="CCCD"/>
        <result column="DATECCCD" jdbcType="TIMESTAMP" property="dateCCCD"/>
        <result column="ISSUEDBY" jdbcType="VARCHAR" property="issuedBy"/>
        <result column="DATESTARTWORD" jdbcType="TIMESTAMP" property="dateStartWord"/>
        <result column="HEALTH" jdbcType="TIMESTAMP" property="health"/>
        <result column="HEIGHT" jdbcType="NUMERIC" property="height"/>
        <result column="WEIGHT" jdbcType="NUMERIC" property="weight"/>
        <result column="STATUSWORK" jdbcType="NUMERIC" property="statusWork"/>
        <result column="NATIONALITYID" jdbcType="NUMERIC" property="nationalityId"/>
        <result column="NATIONID" jdbcType="NUMERIC" property="nationId"/>
        <result column="RELIGIONID" jdbcType="NUMERIC" property="religionId"/>
        <result column="DEGREEID" jdbcType="NUMERIC" property="degreeId"/>
        <result column="FOREIGNID" jdbcType="NUMERIC" property="foreignId"/>
        <result column="BHXH" jdbcType="CHAR" property="BHXH" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="BHYT" jdbcType="CHAR" property="BHYT" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="BHTN" jdbcType="CHAR" property="BHTN" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="UNIONDUES" jdbcType="CHAR" property="unionDues" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="NOTE" jdbcType="VARCHAR" property="note"/>
        <result column="MARITALID" jdbcType="NUMERIC" property="maritalId"/>
        <result column="AUTHORITY" jdbcType="CHAR" property="authority" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="COMMENT" jdbcType="VARCHAR" property="comment"/>
        <result column="COMPANYID" jdbcType="NUMERIC" property="companyId"/>
        <result column="NOBHXH" jdbcType="VARCHAR" property="noBHXH"/>
        <result column="DATEBHXH" jdbcType="TIMESTAMP" property="dateBHXH"/>
        <result column="ISSUEBYBHXH" jdbcType="VARCHAR" property="issueByBHXH"/>
        <result column="NOBHYT" jdbcType="VARCHAR" property="noBHYT"/>
        <result column="FROMDATEBHYT" jdbcType="TIMESTAMP" property="fromDateBHYT"/>
        <result column="TODATEBHYT" jdbcType="TIMESTAMP" property="toDateBHYT"/>
        <result column="PROVINCEBHYT" jdbcType="VARCHAR" property="provinceBHYT"/>
        <result column="HOPITALBHYT" jdbcType="VARCHAR" property="hopitalBHYT"/>
        <result column="isActiveEmployee" jdbcType="CHAR" property="isActive" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="LEADERID" jdbcType="NUMERIC" property="leaderId"/>
        <result column="MANAGERID" jdbcType="NUMERIC" property="managerId"/>
        <result column="SALARY" jdbcType="NUMERIC" property="salary"/>
        <result column="createdByUserEmployee" jdbcType="VARCHAR" property="createdByUser"/>
        <result column="createdByDateEmployee" jdbcType="TIMESTAMP" property="createdByDate"/>
        <result column="dateUpdatedEmployee" jdbcType="TIMESTAMP" property="dateUpdated"/>
        <result column="userLastUpdatedEmployee" jdbcType="VARCHAR" property="userLastUpdated"/>

        <result column="DEPARTMENTID" jdbcType="NUMERIC" property="departmentId"/>
        <result column="nameDepartmentVN" jdbcType="VARCHAR" property="nameDepartmentVN"/>
        <result column="nameDepartmentEN" jdbcType="VARCHAR" property="nameDepartmentEN"/>
        <result column="isActiveDepartment" jdbcType="CHAR" property="isActiveDepartment" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="departmentDateCreated" jdbcType="TIMESTAMP" property="departmentDateCreated"/>
        <result column="departmentUserCreated" jdbcType="VARCHAR" property="departmentUserCreated"/>
        <result column="departmentDateUpdated" jdbcType="TIMESTAMP" property="departmentDateUpdated"/>
        <result column="departmentUserUpdated" jdbcType="VARCHAR" property="departmentUserUpdated"/>

        <result column="POSITIONID" jdbcType="NUMERIC" property="positionId"/>
        <result column="positionNameVN" jdbcType="VARCHAR" property="positionNameVN"/>
        <result column="positionNameEN" jdbcType="VARCHAR" property="positionNameEN"/>
        <result column="isActivePosition" jdbcType="CHAR" property="isActivePosition" javaType="java.lang.Boolean"
                typeHandler="CharBooleanTypeHandler"/>
        <result column="positionDateCreated" jdbcType="TIMESTAMP" property="positionDateCreated"/>
        <result column="positionUserCreated" jdbcType="VARCHAR" property="positionUserCreated"/>
        <result column="positionDateUpdated" jdbcType="TIMESTAMP" property="positionDateUpdated"/>
        <result column="positionUserUpdated" jdbcType="VARCHAR" property="positionUserUpdated"/>
    </resultMap>

    <select id="find" resultMap="BaseResultMap">
        SELECT TE.ID,
        EMPLOYEECODE,
        FIRSTNAME,
        FULLNAME,
        COMMONNAME,
        GENDER,
        IMAGES,
        BIRTHDAY,
        PLACEOFBIRTH,
        MARRIED,
        ADDRESS,
        ADDRESSTMP,
        PHONE,
        EMAIL,
        CCCD,
        DATECCCD,
        ISSUEDBY,
        DATESTARTWORD,
        HEALTH,
        HEIGHT,
        WEIGHT,
        STATUSWORK,
        NATIONALITYID,
        NATIONID,
        RELIGIONID,
        DEGREEID,
        FOREIGNID,
        BHXH,
        BHYT,
        BHTN,
        UNIONDUES,
        NOTE,
        MARITALID,
        AUTHORITY,
        COMMENT,
        COMPANYID,
        NOBHXH,
        DATEBHXH,
        ISSUEBYBHXH,
        NOBHYT,
        FROMDATEBHYT,
        TODATEBHYT,
        PROVINCEBHYT,
        HOPITALBHYT,
        TE.ISACTIVE AS isActiveEmployee,
        LEADERID,
        MANAGERID,
        SALARY,
        TE.CREATEDBYUSER AS createdByUserEmployee,
        TE.CREATEDBYDATE AS createdByDateEmployee,
        TE.DATEUPDATED AS dateUpdatedEmployee,
        TE.USERLASTUPDATED AS userLastUpdatedEmployee,

        DEPARTMENTID,
        NAMEDEPARTMENTVN AS nameDepartmentVN,
        NAMEDEPARTMENTEN AS nameDepartmentEN,
        TD.ISACTIVE AS isActiveDepartment,
        TD.DATECREATED AS departmentDateCreated,
        TD.USERCREATED AS departmentUserCreated,
        TD.DATEUPDATED AS departmentDateUpdated,
        TD.USERUPDATED AS departmentUserUpdated,

        POSITIONID,
        POSITIONNAMEVN AS positionNameVN,
        POSITIONNAMEEN AS positionNameEN,
        TP.ISACTIVE AS isActivePosition,
        TP.DATECREATED AS positionDateCreated,
        TP.USERCREATED AS positionUserCreated,
        TP.DATEUPDATED AS positionDateUpdated,
        TP.USERUPDATED AS positionUserUpdated
        FROM TDT_EMPLOYEE AS TE
        INNER JOIN TDT_DEPARTMENT TD ON
        TE.DEPARTMENTID = TD.ID
        INNER JOIN TDT_POSITION TP ON
        TE.POSITIONID = TP.ID
        WHERE TE.ISACTIVE = '1'
        <if test="(employeeIds != null and employeeIds.size() > 0)">
            AND TE.ID IN
            <foreach close=")" collection="employeeIds" item="listItem" open="(" separator=",">
                #{listItem}
            </foreach>
        </if>
        ORDER BY TE.CREATEDBYDATE, TE.ID
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) AS RESULTS_TOTAL_COUNT
        FROM TDT_EMPLOYEE AS TE
        INNER JOIN TDT_DEPARTMENT TD ON
        TE.DEPARTMENTID = TD.ID
        INNER JOIN TDT_POSITION TP ON
        TE.POSITIONID = TP.ID
        WHERE TE.ISACTIVE = '1'
        <if test="(employeeIds != null and employeeIds.size() > 0)">
            AND TE.ID IN
            <foreach close=")" collection="employeeIds" item="listItem" open="(" separator=",">
                #{listItem}
            </foreach>
        </if>
    </select>
</mapper>
